@import 'normalize';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.canvas{
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 1000px;
	margin: 60px auto 0;
	position: relative;
	background: #E8EAF4;
	padding: 10px;
	border-radius: 5px;

	h1{
		font-family: "Roboto";
		position: absolute;
		top: 10px;
		right: 50px;
		font-size: 35px;
		width: 220px;
		color: gray;
	}

	.controls{
		display: flex;
		background: #071F35;
		padding: 10px 20px;
		border-radius: 10px;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
		position: relative;
		top: 40px;
		color: white;

		.buttons{
			display: flex;
			flex-direction: column;
			font-family: "Roboto";
			font-size: 16px;

			p{
				text-align: center;
			}

			ul{
				padding: 0;

				li{
					list-style: none;

					button{
						background: white;
						border: 3px outset silver;
						border-radius: 50%;
						width: 30px;
						height: 30px;
						margin: 5px 5px 0 0;
						cursor: pointer;
						outline: none;
						transition: .3s;

						&:hover{
							border: 3px inset silver;
						}
					}

					&:nth-of-type(9)>button{
						background: red;
					}
				}
			}
		}
	}

	.info{
		position: absolute;
		bottom: 10px;
		background: #7E6353;
		padding: 10px;
		border: none;
		font-family: "Roboto";
		font-size: 22px;
		color: white;
		right: 75px;
		border-radius: 5px;
		cursor: pointer;

		&:hover{
			background: #AD6E3B;
		}
	}

	.info__modal{
		position: absolute;
		z-index: 2000;
		background: rgba(0,0,0,0.6);
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		display: none;

		.modal__container{
			background: white;
			width: 60%;
			padding: 10px 40px;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(black,.8);
			position: relative;
			opacity: 0;
			transition: 1s;

			p{
				font-family: "Roboto";
				font-size: 20px;
				line-height: 32px;
				color: #444548;
			}

			.cross{
				position: absolute;
				top: -20px;
				right: -20px;
				width: 70px;
				height: 70px;
				background: #AD6E3B;
				border-radius: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				flex-direction: column;
				transition: .3s;

				&:hover{
					background: #322821;
				}

				.cross__line{
					background: white;
					height: 5px;
					width: 50px;
					position: relative;
					border-radius: 5px;
				}

				.cross__line:nth-of-type(1){
					top: 2.5px;
					transform: rotate(45deg);
				}

				.cross__line:nth-of-type(2){
					top: -2.5px;
					transform: rotate(-45deg);
				}
			}
		}
	}

	.simulation{
		position: relative;
		width: 600px;
		height: 500px;
		margin: 0;
		overflow: hidden;
		padding-bottom: 140px;
		margin-top: -15px;

		.land{
			background: url(../images/land.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top;
			width: 650px;
			height: 100%;
			margin-left: -30px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			animation: earthquake infinite ease-in-out;		
			animation-duration: 0s;
			z-index: 1000;
		}

		.land__destroyed{
			background: url(../images/land-destroyed.png);
			background-size: cover;
		}

		.city{
			position: relative;
			animation: earthquake infinite ease-in-out;			
			display: flex;
			justify-content: center;
			align-items: flex-end;
			animation-duration: 0s;
			transition: 3s!important;
			background: #A2D2FF;
			width: 110%;
			margin-left: -5%;
			padding-top: 20px;
			top: 14px;

			.tree1{
				background: url(../images/tree1.png);
				background-size: cover;
				width: 40px;
				height: 100px;
				position: absolute;
				bottom: 0;
				z-index: 100;
				left: 150px;
				transition: 3s!important;
			}

			.tree2{
				background: url(../images/tree2.png);
				background-size: cover;
				width: 20px;
				height: 50px;
				position: absolute;
				bottom: 0;
				z-index: 100;
				left: 190px;
				transition: 3s!important;
			}

			.building1{
				height: 145px;
				width: 100px;
				background: url(../images/building1.png);
				background-size: cover;
				position: relative;
				right: -40px;
				transition: 3s!important;
			}

			.building3{
				height: 110px;
				width: 91px;
				background: url(../images/building3.png);
				background-size: cover;
				position: relative;
				z-index: 90;
				transition: 3s!important;
				bottom: 0;

			}

			.building2{
				height: 145px;
				width: 100px;
				background: url(../images/building2.png);
				background-size: cover;
				position: relative;
				left: -40px;
				transition: 3s!important;
				bottom: 0;
			}

			.tree3{
				background: url(../images/tree3.png);
				background-size: cover;
				width: 40px;
				height: 100px;
				position: absolute;
				bottom: 0;
				z-index: 100;
				right: 160px;
				transition: 3s!important;
			}

			.smoke{
				z-index: 200;
				left: 280px;
				opacity: 0;
				transition: 2s;
			}


			.fire1{
				left: 210px;
				opacity: 0;
				transition: 2s;
			}

			.fire2{
				bottom: -80px;
				left: 300px;
				opacity: 0;
				transition: 2s;
				transition-delay: 0;
			}

			.fire3{
				bottom: -30px;
				left: 360px;
				opacity: 0;
				transition: 2s;
			}
		}

		.affected{

			.building3{
				background: url(../images/building3-destroyed.png);
				background-size: cover;
			}
		}

		.damaged{

			.tree1{
				transform-origin: bottom;
			}

			.tree2{
				transform-origin: bottom;
			}

			.building1{
				background: url(../images/building1-destroyed.png);
				background-size: cover;
			}

			.building3{
				background: url(../images/building3-destroyed.png);
				background-size: cover;
				transform: rotateZ(-2deg);
				bottom: -5px;
			}

			.building2{
				background: url(../images/building2-destroyed.png);
				background-size: cover;
			}

			.tree3{
				background: url(../images/tree3.png);
				background-size: cover;
				transform: rotateZ(-5deg);
			}
		}

		.destroyed{

			.tree1{
				transform: rotateZ(45deg);
				transform-origin: bottom;
			}

			.tree2{
				transform: rotateZ(85deg);
				transform-origin: bottom;
			}

			.building1{
				background: url(../images/building1-destroyed.png);
				background-size: cover;
				transform: rotateZ(-5deg);
			}

			.building3{
				background: url(../images/building3-destroyed.png);
				background-size: cover;
				transform: rotateZ(-5deg);
				bottom: -90px;
			}

			.building2{
				background: url(../images/building2-destroyed.png);
				background-size: cover;
				transform: rotateZ(25deg);
				bottom: -30px;
				left: -20px;
			}

			.tree3{
				background: url(../images/tree3.png);
				background-size: cover;
				transform: rotateZ(-5deg);
			}

			.smoke{
				opacity: 1;
			}

			.fire1{
				opacity: 1;
			}

			.fire2{
				opacity: 1;
				transition-delay: 2s;
			}

			.fire3{
				opacity: 1;
			}
		}		

		.waves__container{
			height: 100%;
			width: 100%;
			margin-top: -486px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			z-index: 2000;

			.waves{
				position: relative;
				width: 100px;
				height: 100px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto;
				top: 200px;
				transition: .3s;
				
				#point{
					background: #A30000;
					width: 30px;
					height: 30px;
					position: absolute;
					border-radius: 50%;
					z-index: 1000;
				}

				.wave{
					animation: wave infinite;
					animation-duration: 1s;
					width: 100%;
					height: 100%;
				}

				#wave1{
					background: red;
					position: absolute;
					border-radius: 50%;					
				}

				#wave2{
					@extend #wave1;
					animation-delay: .5s;
				}

				#wave3{
					@extend #wave1;
					animation-delay: 1s;

				}

				#wave4{
					@extend #wave1;
					animation-delay: 1.5s;

				}
			}
		}
	}
}


//CSS keyframes for waves
@keyframes wave{
	0%{
		width: 0;
		height: 0;
		opacity: 1;
	}

	100%{
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}

@keyframes earthquake{
	0%{
		right: 4px;
	}

	50%{
		right: -4px;
	}

	100%{
		right: 4px;
	}
}


/*****************/
#smoke {
  position: absolute;
  width: 1px;
  height: 160px;
}

/* smoke balls */

#smoke span { 
  display: block;
  position: absolute;
  bottom: -35px; left: 50%; margin-left:-20px;
  height: 0px; width: 0px;
  border: 35px solid #4b4b4b;
  border-radius: 35px;
  left: -14px; opacity: 0;
  transform: scale(0.2);
}

/* Smoke animation */

@keyframes smokeL1 {
  0%   { transform: scale(0.2) translate(0, 0) }
  10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
  100% { opacity: 0; transform: scale(1) translate(-20px, -130px) }
}

@keyframes smokeR1 {
  0%   { transform: scale(0.2) translate(0, 0) }
  10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
  100% { opacity: 0; transform: scale(1) translate(20px, -130px) }
}

@keyframes smokeL2 {
  0%   { transform: scale(0.2) translate(0, 0) }
  10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
  100% { opacity: 0; transform: scale(1) translate(-40px, -100px) }
}

@keyframes smokeR2 {
  0%   { transform: scale(0.2) translate(0, 0) }
  10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
  100% { opacity: 0; transform: scale(1) translate(40px, -100px) }
}

#smoke .s0 { animation: smokeL1 10s 0s infinite }
#smoke .s1 { animation: smokeR1 10s 0.5s infinite }
#smoke .s2 { animation: smokeL2 10s 1s infinite }
#smoke .s3 { animation: smokeR2 10s 1.5s infinite }
#smoke .s4 { animation: smokeL1 10s 2s infinite }
#smoke .s5 { animation: smokeR1 10s 2.5s infinite }
#smoke .s6 { animation: smokeL2 10s 3s infinite }
#smoke .s7 { animation: smokeR2 10s 3.5s infinite }
#smoke .s8 { animation: smokeL1 10s 4s infinite }
#smoke .s9 { animation: smokeR1 10s 4.5s infinite }
#smoke .s10 { animation: smokeL2 10s 5s infinite }
#smoke .s11 { animation: smokeR2 10s 5.5s infinite }
#smoke .s12 { animation: smokeL1 10s 6s infinite }
#smoke .s13 { animation: smokeR1 10s 6.5s infinite }
#smoke .s14 { animation: smokeL2 10s 7s infinite }
#smoke .s15 { animation: smokeR2 10s 7.5s infinite }
#smoke .s16 { animation: smokeL1 10s 8s infinite }
#smoke .s17 { animation: smokeR1 10s 8.5s infinite }
#smoke .s18 { animation: smokeL2 10s 9s infinite }
#smoke .s19 { animation: smokeR2 10s 9.5s infinite }



/**************************************/
//FIRE

.fire {
  margin:80px auto;
  width: 60px;
  height: 60px;
  position:relative;
  transform-origin:center bottom;
  animation-name: flicker;
  animation-duration:3ms;
  animation-delay:200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: absolute;
  z-index: 100;
}

.flame{
  bottom:0;
  position:absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform:rotate(-45deg) scale(0.3,0.3);
}

.yellow{
  left:15px; 
  width: 30px;
  height: 30px;
  background:gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.orange{
  left:10px; 
  width: 40px;
  height: 40px;
  background:orange;
  box-shadow: 0px 0px 9px 4px orange;
}

.red{
  left:5px;
  width: 50px;
  height: 50px;
  background:OrangeRed;
  box-shadow: 0px 0px 5px 4px OrangeRed;
}

.white{
  left:15px; 
  bottom:-4px;
  width: 30px;
  height: 30px;
  background:white;
  box-shadow: 0px 0px 9px 4px white;
}

.circle{
  border-radius: 50%;
  position:absolute;  
}

.log{
  position:absolute;  
  transform:rotate(0deg) scale(0.3,0.3);
}

.blue{
  width: 10px;
  height: 10px;
  left:25px;
  bottom:-25px; 
  background: SlateBlue;
  box-shadow: 0px 0px 15px 10px SlateBlue;
}

@keyframes flicker{
  0%   {transform: rotate(-1deg);}
  20%  {transform: rotate(1deg);}
  40%  {transform: rotate(-1deg);}
  60%  {transform: rotate(1deg) scaleY(1.04);}
  80%  {transform: rotate(-2deg) scaleY(0.92);}
  100% {transform: rotate(1deg);}
}