/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.canvas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1000px;
  margin: 60px auto 0;
  position: relative;
  background: #E8EAF4;
  padding: 10px;
  border-radius: 5px;
}
.canvas h1 {
  font-family: "Roboto";
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 35px;
  width: 220px;
  color: gray;
}
.canvas .controls {
  display: flex;
  background: #071F35;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 40px;
  color: white;
}
.canvas .controls .buttons {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-size: 16px;
}
.canvas .controls .buttons p {
  text-align: center;
}
.canvas .controls .buttons ul {
  padding: 0;
}
.canvas .controls .buttons ul li {
  list-style: none;
}
.canvas .controls .buttons ul li button {
  background: white;
  border: 3px outset silver;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
.canvas .controls .buttons ul li button:hover {
  border: 3px inset silver;
}
.canvas .controls .buttons ul li:nth-of-type(9) > button {
  background: red;
}
.canvas .info {
  position: absolute;
  bottom: 10px;
  background: #7E6353;
  padding: 10px;
  border: none;
  font-family: "Roboto";
  font-size: 22px;
  color: white;
  right: 75px;
  border-radius: 5px;
  cursor: pointer;
}
.canvas .info:hover {
  background: #AD6E3B;
}
.canvas .info__modal {
  position: absolute;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.canvas .info__modal .modal__container {
  background: white;
  width: 60%;
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  position: relative;
  opacity: 0;
  transition: 1s;
}
.canvas .info__modal .modal__container p {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 32px;
  color: #444548;
}
.canvas .info__modal .modal__container .cross {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 70px;
  height: 70px;
  background: #AD6E3B;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  transition: 0.3s;
}
.canvas .info__modal .modal__container .cross:hover {
  background: #322821;
}
.canvas .info__modal .modal__container .cross .cross__line {
  background: white;
  height: 5px;
  width: 50px;
  position: relative;
  border-radius: 5px;
}
.canvas .info__modal .modal__container .cross .cross__line:nth-of-type(1) {
  top: 2.5px;
  transform: rotate(45deg);
}
.canvas .info__modal .modal__container .cross .cross__line:nth-of-type(2) {
  top: -2.5px;
  transform: rotate(-45deg);
}
.canvas .simulation {
  position: relative;
  width: 600px;
  height: 500px;
  margin: 0;
  overflow: hidden;
  padding-bottom: 140px;
  margin-top: -15px;
}
.canvas .simulation .land {
  background: url(../images/land.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 650px;
  height: 100%;
  margin-left: -30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: earthquake infinite ease-in-out;
  animation-duration: 0s;
  z-index: 1000;
}
.canvas .simulation .land__destroyed {
  background: url(../images/land-destroyed.png);
  background-size: cover;
}
.canvas .simulation .city {
  position: relative;
  animation: earthquake infinite ease-in-out;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation-duration: 0s;
  transition: 3s !important;
  background: #A2D2FF;
  width: 110%;
  margin-left: -5%;
  padding-top: 20px;
  top: 14px;
}
.canvas .simulation .city .tree1 {
  background: url(../images/tree1.png);
  background-size: cover;
  width: 40px;
  height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 100;
  left: 150px;
  transition: 3s !important;
}
.canvas .simulation .city .tree2 {
  background: url(../images/tree2.png);
  background-size: cover;
  width: 20px;
  height: 50px;
  position: absolute;
  bottom: 0;
  z-index: 100;
  left: 190px;
  transition: 3s !important;
}
.canvas .simulation .city .building1 {
  height: 145px;
  width: 100px;
  background: url(../images/building1.png);
  background-size: cover;
  position: relative;
  right: -40px;
  transition: 3s !important;
}
.canvas .simulation .city .building3 {
  height: 110px;
  width: 91px;
  background: url(../images/building3.png);
  background-size: cover;
  position: relative;
  z-index: 90;
  transition: 3s !important;
  bottom: 0;
}
.canvas .simulation .city .building2 {
  height: 145px;
  width: 100px;
  background: url(../images/building2.png);
  background-size: cover;
  position: relative;
  left: -40px;
  transition: 3s !important;
  bottom: 0;
}
.canvas .simulation .city .tree3 {
  background: url(../images/tree3.png);
  background-size: cover;
  width: 40px;
  height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 100;
  right: 160px;
  transition: 3s !important;
}
.canvas .simulation .city .smoke {
  z-index: 200;
  left: 280px;
  opacity: 0;
  transition: 2s;
}
.canvas .simulation .city .fire1 {
  left: 210px;
  opacity: 0;
  transition: 2s;
}
.canvas .simulation .city .fire2 {
  bottom: -80px;
  left: 300px;
  opacity: 0;
  transition: 2s;
  transition-delay: 0;
}
.canvas .simulation .city .fire3 {
  bottom: -30px;
  left: 360px;
  opacity: 0;
  transition: 2s;
}
.canvas .simulation .affected .building3 {
  background: url(../images/building3-destroyed.png);
  background-size: cover;
}
.canvas .simulation .damaged .tree1 {
  transform-origin: bottom;
}
.canvas .simulation .damaged .tree2 {
  transform-origin: bottom;
}
.canvas .simulation .damaged .building1 {
  background: url(../images/building1-destroyed.png);
  background-size: cover;
}
.canvas .simulation .damaged .building3 {
  background: url(../images/building3-destroyed.png);
  background-size: cover;
  transform: rotateZ(-2deg);
  bottom: -5px;
}
.canvas .simulation .damaged .building2 {
  background: url(../images/building2-destroyed.png);
  background-size: cover;
}
.canvas .simulation .damaged .tree3 {
  background: url(../images/tree3.png);
  background-size: cover;
  transform: rotateZ(-5deg);
}
.canvas .simulation .destroyed .tree1 {
  transform: rotateZ(45deg);
  transform-origin: bottom;
}
.canvas .simulation .destroyed .tree2 {
  transform: rotateZ(85deg);
  transform-origin: bottom;
}
.canvas .simulation .destroyed .building1 {
  background: url(../images/building1-destroyed.png);
  background-size: cover;
  transform: rotateZ(-5deg);
}
.canvas .simulation .destroyed .building3 {
  background: url(../images/building3-destroyed.png);
  background-size: cover;
  transform: rotateZ(-5deg);
  bottom: -90px;
}
.canvas .simulation .destroyed .building2 {
  background: url(../images/building2-destroyed.png);
  background-size: cover;
  transform: rotateZ(25deg);
  bottom: -30px;
  left: -20px;
}
.canvas .simulation .destroyed .tree3 {
  background: url(../images/tree3.png);
  background-size: cover;
  transform: rotateZ(-5deg);
}
.canvas .simulation .destroyed .smoke {
  opacity: 1;
}
.canvas .simulation .destroyed .fire1 {
  opacity: 1;
}
.canvas .simulation .destroyed .fire2 {
  opacity: 1;
  transition-delay: 2s;
}
.canvas .simulation .destroyed .fire3 {
  opacity: 1;
}
.canvas .simulation .waves__container {
  height: 100%;
  width: 100%;
  margin-top: -486px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2000;
}
.canvas .simulation .waves__container .waves {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  top: 200px;
  transition: 0.3s;
}
.canvas .simulation .waves__container .waves #point {
  background: #A30000;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  z-index: 1000;
}
.canvas .simulation .waves__container .waves .wave {
  animation: wave infinite;
  animation-duration: 1s;
  width: 100%;
  height: 100%;
}
.canvas .simulation .waves__container .waves #wave1, .canvas .simulation .waves__container .waves #wave4, .canvas .simulation .waves__container .waves #wave3, .canvas .simulation .waves__container .waves #wave2 {
  background: red;
  position: absolute;
  border-radius: 50%;
}
.canvas .simulation .waves__container .waves #wave2 {
  animation-delay: 0.5s;
}
.canvas .simulation .waves__container .waves #wave3 {
  animation-delay: 1s;
}
.canvas .simulation .waves__container .waves #wave4 {
  animation-delay: 1.5s;
}

@keyframes wave {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
@keyframes earthquake {
  0% {
    right: 4px;
  }
  50% {
    right: -4px;
  }
  100% {
    right: 4px;
  }
}
/*****************/
#smoke {
  position: absolute;
  width: 1px;
  height: 160px;
}

/* smoke balls */
#smoke span {
  display: block;
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -20px;
  height: 0px;
  width: 0px;
  border: 35px solid #4b4b4b;
  border-radius: 35px;
  left: -14px;
  opacity: 0;
  transform: scale(0.2);
}

/* Smoke animation */
@keyframes smokeL1 {
  0% {
    transform: scale(0.2) translate(0, 0);
  }
  10% {
    opacity: 1;
    transform: scale(0.2) translate(0, -5px);
  }
  100% {
    opacity: 0;
    transform: scale(1) translate(-20px, -130px);
  }
}
@keyframes smokeR1 {
  0% {
    transform: scale(0.2) translate(0, 0);
  }
  10% {
    opacity: 1;
    transform: scale(0.2) translate(0, -5px);
  }
  100% {
    opacity: 0;
    transform: scale(1) translate(20px, -130px);
  }
}
@keyframes smokeL2 {
  0% {
    transform: scale(0.2) translate(0, 0);
  }
  10% {
    opacity: 1;
    transform: scale(0.2) translate(0, -5px);
  }
  100% {
    opacity: 0;
    transform: scale(1) translate(-40px, -100px);
  }
}
@keyframes smokeR2 {
  0% {
    transform: scale(0.2) translate(0, 0);
  }
  10% {
    opacity: 1;
    transform: scale(0.2) translate(0, -5px);
  }
  100% {
    opacity: 0;
    transform: scale(1) translate(40px, -100px);
  }
}
#smoke .s0 {
  animation: smokeL1 10s 0s infinite;
}

#smoke .s1 {
  animation: smokeR1 10s 0.5s infinite;
}

#smoke .s2 {
  animation: smokeL2 10s 1s infinite;
}

#smoke .s3 {
  animation: smokeR2 10s 1.5s infinite;
}

#smoke .s4 {
  animation: smokeL1 10s 2s infinite;
}

#smoke .s5 {
  animation: smokeR1 10s 2.5s infinite;
}

#smoke .s6 {
  animation: smokeL2 10s 3s infinite;
}

#smoke .s7 {
  animation: smokeR2 10s 3.5s infinite;
}

#smoke .s8 {
  animation: smokeL1 10s 4s infinite;
}

#smoke .s9 {
  animation: smokeR1 10s 4.5s infinite;
}

#smoke .s10 {
  animation: smokeL2 10s 5s infinite;
}

#smoke .s11 {
  animation: smokeR2 10s 5.5s infinite;
}

#smoke .s12 {
  animation: smokeL1 10s 6s infinite;
}

#smoke .s13 {
  animation: smokeR1 10s 6.5s infinite;
}

#smoke .s14 {
  animation: smokeL2 10s 7s infinite;
}

#smoke .s15 {
  animation: smokeR2 10s 7.5s infinite;
}

#smoke .s16 {
  animation: smokeL1 10s 8s infinite;
}

#smoke .s17 {
  animation: smokeR1 10s 8.5s infinite;
}

#smoke .s18 {
  animation: smokeL2 10s 9s infinite;
}

#smoke .s19 {
  animation: smokeR2 10s 9.5s infinite;
}

/**************************************/
.fire {
  margin: 80px auto;
  width: 60px;
  height: 60px;
  position: relative;
  transform-origin: center bottom;
  animation-name: flicker;
  animation-duration: 3ms;
  animation-delay: 200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: absolute;
  z-index: 100;
}

.flame {
  bottom: 0;
  position: absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform: rotate(-45deg) scale(0.3, 0.3);
}

.yellow {
  left: 15px;
  width: 30px;
  height: 30px;
  background: gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.orange {
  left: 10px;
  width: 40px;
  height: 40px;
  background: orange;
  box-shadow: 0px 0px 9px 4px orange;
}

.red {
  left: 5px;
  width: 50px;
  height: 50px;
  background: OrangeRed;
  box-shadow: 0px 0px 5px 4px OrangeRed;
}

.white {
  left: 15px;
  bottom: -4px;
  width: 30px;
  height: 30px;
  background: white;
  box-shadow: 0px 0px 9px 4px white;
}

.circle {
  border-radius: 50%;
  position: absolute;
}

.log {
  position: absolute;
  transform: rotate(0deg) scale(0.3, 0.3);
}

.blue {
  width: 10px;
  height: 10px;
  left: 25px;
  bottom: -25px;
  background: SlateBlue;
  box-shadow: 0px 0px 15px 10px SlateBlue;
}

@keyframes flicker {
  0% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg) scaleY(1.04);
  }
  80% {
    transform: rotate(-2deg) scaleY(0.92);
  }
  100% {
    transform: rotate(1deg);
  }
}